
.vs/Algorithm/DesignTimeBuild/.dtbcache.v2
.vs/Algorithm/v16/.suo
Algorithm/bin/Debug/netcoreapp3.1/Algorithm.dll
Algorithm/bin/Debug/netcoreapp3.1/Algorithm.pdb
Algorithm/bin/Debug/netcoreapp3.1/nunit_random_seed.tmp
Algorithm/obj/Debug/netcoreapp3.1/Algorithm.csproj.CoreCompileInputs.cache
Algorithm/obj/Debug/netcoreapp3.1/Algorithm.csprojAssemblyReference.cache
Algorithm/obj/Debug/netcoreapp3.1/Algorithm.dll
Algorithm/obj/Debug/netcoreapp3.1/Algorithm.pdb

Algorithm/obj/*
Algorithm/bin/*

*.testlog
.vs/Algorithm/v17/TestStore/0/testlog.manifest
.vs/Algorithm/v17/.suo
.vs/Algorithm/v17/.futdcache.v1
